# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Direct Google Sign-In / Google Cloud Console Auth Configuration
VITE_GOOGLE_CLIENT_ID=

# AdMob Configuration
# Set to 'true' to enable real ads and disable test mode
VITE_ADMOB_PRODUCTION=true
VITE_ADMOB_APP_ID=ca-app-pub-9364231981895017~7433331132
VITE_ADMOB_BANNER_ID=ca-app-pub-9364231981895017/6262161138
VITE_ADMOB_INTERSTITIAL_ID=ca-app-pub-9364231981895017/9460467949
VITE_ADMOB_REWARD_ID=ca-app-pub-9364231981895017/3144105484
